<h3>
  <i class='fas fa-book-reader' style="color : hsl(210, 15%, 35%);"> Stories </i>
</h3>
<div class="section">
  <p class="lead"> Share whit us your stories. </p>
</div>

<div class="divider"></div>

<div class="section">
  <a href="/auth/google" class='btn red darken-1'>
    <i class="fab fa-google left"> Log in whit Google </i>
  </a>
</div>
