@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

p {
  margin: 10px 0 !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}
